html, body {
    margin: 0;
}

body {
    background: #0DF;
}

img {
    border: 0;
}

.load {

}

main {
    position: absolute;
    width: 100%;
    height: 100%;
}

main .sequencer {
    position: absolute;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    background: #FFF;
    box-shadow: 0 0 6px 0px #0CE;
    opacity: 0;
}

main .sequencer .content {
    position: absolute;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    border: 3px solid #0CE;
    overflow: hidden;
    z-index: 2;
}

main .sequencer .content .ui-bar {
    position: absolute;
    height: 35px;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 3%;
    background: #AEF;
    box-shadow: 0 0 10px 0 #ADE inset;
    z-index: 4;
}

main .sequencer .content .ui-bar .nav {
    display: inline-block;
    position: relative;
    padding: 0 10px;
    font-family: Tahoma;
    font-weight: bold;
    font-size: 16px;
    color: #0CE;
    line-height: 35px;
    cursor: pointer;

    -ms-transition: background-color 0.05s, color 0.05s;
    -o-transition: background-color 0.05s, color 0.05s;
    -moz-transition: background-color 0.05s, color 0.05s;
    -webkit-transition: background-color 0.05s, color 0.05s;
    transition: background-color 0.05s, color 0.05s;
}

main .sequencer .content .ui-bar .nav:not(.selected):not(.active):hover {
    background-color: rgba(0, 0, 0, 0.03);
    color: #EFF;
}

main .sequencer .content .ui-bar .nav.selected {
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0px 0px 5px 0px #9DE;
    color: #4DF;
    text-shadow: 0 1px rgba(255, 255, 255, 0.85);
}

main .sequencer .content .ui-dropdowns {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 5;
}

main .sequencer .content .ui-dropdowns .nav-drop {
    display: none;
    position: absolute;
    min-width: 100px;
    top: 35px;
    background: #FFF;
    padding: 0 5px 0 10px;
    box-shadow: 0 0 5px 0 #9BC;

    -ms-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
}

main .sequencer,
main .sequencer .content .ui-dropdowns .nav-drop.drop-transition,
main .sequencer .content .music .note {
    -ms-transition: opacity 0.5s, -ms-transform 0.5s cubic-bezier(0.145, 1.650, 0.390, 0.855);
    -o-transition: opacity 0.5s, -o-transform 0.5s cubic-bezier(0.145, 1.650, 0.390, 0.855);
    -moz-transition: opacity 0.5s, -moz-transform 0.5s cubic-bezier(0.145, 1.650, 0.390, 0.855);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s cubic-bezier(0.145, 1.650, 0.390, 0.855);
    transition: opacity 0.5s, transform 0.5s cubic-bezier(0.145, 1.650, 0.390, 0.855);
}

main .sequencer .content .ui-dropdowns .nav-drop div {
    display: block;
    position: relative;
    width: 100%;
}

main .sequencer .content .ui-dropdowns .nav-drop .item {
    margin-left: -10px;
    padding: 4px 5px 4px 10px;
    font-family: Tahoma;
    font-size: 16px;
    color: #5DF;
    cursor: pointer;
}

main .sequencer .content .ui-dropdowns .nav-drop .item:hover {
    background-color: #5DF;
    color: #FFF;
}

main .sequencer .content .ui-dropdowns .nav-drop .break {
    border: 0;
    border-top: 1px solid #CFF;
    margin: 2px 0 2px -1px;
}

main .sequencer .content .piano,
main .sequencer .content .music {
    -ms-transition: -ms-transform 0.5s ease-in-out;
    -o-transition: -o-transform 0.5s ease-in-out;
    -moz-transition: -moz-transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
}

main .sequencer .content .piano {
    position: absolute;
    width: 100px;
    height: 2640px;
    top: 35px;
    border: 0;
    left: 0;
    z-index: 2;
}

main .sequencer .content .piano .key {
    position: relative;
    height: 29px;
    margin-top: -1px;
    border: 0;
    border-top: 1px solid #BBB;
    border-right: 1px solid #BBB;
    border-bottom: 1px solid #BBB;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: -webkit-linear-gradient(top, #DDD 0%,#FFF 10%,#FFF 90%,#DDD 100%);
    background: linear-gradient(to bottom, #DDD 0%,#FFF 10%,#FFF 90%,#DDD 100%);
    cursor: pointer;
}

main .sequencer .content .piano .key:nth-child(1) {
    margin-top: 0;
}

main .sequencer .content .piano .key.black {
    border-right: 1px solid #000;
    background: -webkit-linear-gradient(top, #666 0%,#333 10%,#333 90%,#666 100%);
    background: linear-gradient(to bottom, #666 0%,#333 10%,#333 90%,#666 100%);
}

main .sequencer .content .piano .key:not(.black):hover {
    background: #EEE;
}

main .sequencer .content .piano .key.black:hover {
    background: #000;
}

main .sequencer .content .music {
    position: absolute;
    top: 35px;
    left: 0;
    width: 30000px;
    height: 2640px;
    background: url(../images/note-tile.png) top left repeat;
    background-size: 30px 30px;
    z-index: 1;

    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
}

main .sequencer .content .music.drag {
    cursor: move;
    cursor: all-scroll;
}

main .sequencer .content .music.select {
    cursor: crosshair;
}

main .sequencer .content .music .preview-note {
    position: absolute;
    height: 15px;
    background: #CCC;
}

main .sequencer .content .music .note {
    position: absolute;
    height: 21px;
}

.note.stretch {
    cursor: ew-resize;
}

.note.erase {
    background-color: rgba(255, 0, 0, 0.3) !important;
}

.note.square {
    background: #0FF;
}

.note.selected {
    outline: 2px solid #000;
    z-index: 3;
}

main .sequencer .content .music .selection {
    position: absolute;
    border: 1px dashed #AAA;
    background-color: rgba(0,0,0,0.05);
    z-index: 4;
}

main .sequencer .content .music .select-bar {
    display: none;
    position: absolute;
    width: 15px;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.075);
}

main .sequencer .content .music .play-bar {
    position: absolute;
    width: 3px;
    top: 0;
    bottom: 0;
    background: #CC5;
    z-index: 4;
}